html,
body {
    font-family: 'Roboto', sans-serif;
}
/* -- Updating semantic HTML --*/
ul li, ol li {
    line-height: 1.4em;
    padding: 0px 10px 10px 0;
}
img {
    margin: 1.5rem auto;
}
dd {
    display: block;
    margin-left: 40px;
    margin-top: .5rem;
}
blockquote {
    padding-left: 15px;
    border-left: 3px solid #ccc;
    font-style: italic;
}
textarea {
    font-family: 'Source Code Pro', monospace;
}
.asteriskField {
    display: none;
}
.post-link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    color: #000000;
    transition: all 250ms ease-in-out;
}
.post-link:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    color: #007eff;
    transition: all 250ms ease-in-out;
}
.sidenav {
  height: 100%;
  width: 256px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 16px 16px;
  overflow-y: auto;
  transition: all 250ms ease-in-out;
}
.sidenav-controls {
  flex: 1;
  margin-top: 16px;
  margin-bottom: 16px;
}
.sidenav a {
  padding: 8px;
  margin: 4px 0;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #007eff;
  display: block;
  transition: all 250ms ease;
}
.sidenav a.active {
  background-color:#007eff;
  color: #ffffff;
  transform: scale(1.05);
}
.sidenav a:hover:not(.active) {
  background: #ffffff;
  color: #404040;
}
.sidenav-button { 
  position: fixed;
  left: 0;
  top: calc(50vh - 16px);
  z-index: 2;
  border: none;
  outline: 0;
  font-size: 2rem;
  display: none;
  padding: 4px;
  padding-left: 8px;
  transition: all 250ms ease-in-out;
}
.sidenav-button:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .sidenav {
    left: -256px;
  }
  .sidenav-show {
    left: 0;
    box-shadow: 4px 0 16px #000000;
  }
  .sidenav-button {
    display: block;
  }
  .sidenav-button-show {
    left: 256px;
    padding-left: 4px;
    padding-right: 16px;
    transform: scaleX(-1);
  }
}

.main {
  margin-left: 256px;
  max-width: 1664px;
  padding: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: auto;
  transition: all 250ms ease-in-out;
}
@media (max-width: 991px) {
  .main {
    margin-left: 0;
  }
  .main-below {
    filter: opacity(0.01);
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .body-below {
    overflow: hidden;
  }
}

.btn-form {
    min-width: 128px;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.alert > ul {
    list-style-type: none;
    padding: 0;
}
.list-view td:last-child {
    width: 200px;
}
.actions-sidebar {
    width: 256px;
}
.btn-sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
div.note {
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 8px;
    margin: 1rem 0;
}
pre.code {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    padding: 8px;
}
.alert {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #000000;
}
.alert-dismissible {
    margin: 12px;
    animation: slideIn 500ms;
}
@keyframes slideIn {
    from {
        transform: translate(0, -72px);
    }
    to {
      transform: translate(0, 0);
    }
}

/* Alert coloring */
.alert-success {border-top: 6px solid #8cc63f;}
.alert-danger {border-top: 6px solid #f44336;}
.alert-warning {border-top: 6px solid #ff9800;}
.alert.debug {border-top: 6px solid #181818;}
.alert-info {border-top: 6px solid #3fc6bd;}

/* Code coloring */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
