{% load static %}
<button type="button" id="chev" class="btn sidenav-button" onclick="toggleSidebar()">
  <i class="fas fa-chevron-right"></i>
</button>
<div class="sidenav">
    <a href="{% url 'index' %}"><img class="img-fluid d-block mx-auto" src="{% static 'img/logo.png' %}"></a>
    <div class="sidenav-controls" style="flex:1">
        {% if date %}
        <time class="d-block text-center">{{ date }}</time>
        <div>
            <hr>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'blog:create' %}"><i class="fas fa-pencil-alt fa-fw mr-2"></i>Create Post</a>
        <div>
            <hr>
        </div>
        {% endif %}
        <a href="{% url 'about_me' %}"><i class="fas fa-address-card fa-fw mr-2"></i>About me</a>
        <div>
            <hr>
        </div>
        <a href="{% url 'blog:list' %}"><i class="fas fa-blog mr-2"></i>Blog Posts</a>
        <a href="{% url 'blog:tags' %}"><i class="fas fa-tags mr-2"></i>Blog Tags</a>
        <div>
            <hr>
        </div>
        {% for year in years %}
        <a href="{% url 'blog:list' %}?year={{ year }}"><i class="fas fa-calendar-day mr-2"></i>{{ year }}</a>
        {% endfor %}
        <div>
            <hr>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'account:account' %}"><i class="fas fa-user fa-fw mr-2"></i>My Account</a>
        <a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt fa-fw mr-2"></i>Log out</a>
        {% else %}
        <a href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt fa-fw mr-2"></i>Log in</a>
        {% endif %}
    </div>
    <a class="link-unstyled" href="https://novawebdevelopment.org/">
        <p class="text-center">COPYRIGHT © 2020<br>NOVA WEB DEVELOPMENT</p>
    </a>
</div>