{% extends "base.html" %}
{% load restruct %}

{% block title %}
{{ post.title }}
{% if user.is_authenticated %}
<a class="btn btn-warning" href="{% url 'blog:edit' pk=post.pk %}"><i class="fas fa-pen"></i></a>
<a class="btn btn-danger" href="{% url 'blog:delete' pk=post.pk %}"><i class="fas fa-trash"></i></a>
<a class="btn btn-primary" href="#" onclick="javascript:genPDF()"><i class="fas fa-file-pdf fa-fw"></i></a>
{% endif %}

<h2>{{ post.created_at }}</h2>

{% endblock title %}

{% block extra_head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col-12" id="pdf">
            {{ post.content|restruct }}
        </div>
    </div>
    <div class="row justify-content-between">
        {% if prev %}
        <a class="btn btn-dark" href="{% url 'blog:post' pk=prev.pk %}"><i class="fas fa-chevron-left fa-fw"></i></a>
        {% else %}
        <a class="btn btn-dark disabled" href="#"><i class="fas fa-chevron-left fa-fw"></i></a>
        {% endif %}
        {% if next %}
        <a class="btn btn-dark" href="{% url 'blog:post' pk=next.pk %}"><i class="fas fa-chevron-right fa-fw"></i></a>
        {% else %}
        <a class="btn btn-dark disabled" href="#"><i class="fas fa-chevron-right fa-fw"></i></a>
        {% endif %}
    </div>
</div>
{% endblock content %}