{% extends "base.html" %}

{% block title %}Upload Files{% endblock title %}

{% block content %}
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 80vh;
        overflow: auto;
    }
</style>
<script src="/static/js/jquery.upload.js"></script>
<script src="/static/js/jquery.iframe.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script>
    $(function () {
        /* 1. OPEN THE FILE EXPLORER WINDOW */
        $(".js-upload-photos").click(function () {
            $("#fileupload").click();
        });

        /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
        $("#fileupload").fileupload({
            dataType: 'json',
            done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
                if (data.result.is_valid) {
                    $("#gallery tbody").prepend(
                        "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
                    )
                    window.location.reload();
                }
            }
        });
    });
</script>
<div class="card-body my-custom-scrollbar">
    <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload Files
    </button>
    <input id="fileupload" type="file" name="file" multiple style="display: none;" data-url="{% url 'blog:upload' %}"
        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery" class="table table-striped nowrap" style="width: 100%;">
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td><a href="{{ upload.file.url }}">{{ upload.file.name }}</a></td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}