{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock title %}
{% block subtitle %}You need to log in before editing the content of this website.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-form">Log in</button>
    </div>
</form>
{% endblock content %}